{% extends 'base.html' %} {% block title %} Home | iCoder {% endblock title %}
{% block home %} active {% endblock home %} {% block content %}
<div class="container my-4">
    <div class="p-5 mb-4 bg-secondary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welcome to iCoder!</h1>
            <p class="col-md-8 fs-4">
                Using a series of utilities, you can create this jumbotron, just
                like the one in previous versions of Bootstrap. Check out the
                examples below for how you can remix and restyle it to your
                liking.
            </p>
            <a
                class="btn btn-primary btn-lg"
                type="button"
                href="{% url 'BlogHome' %}"
                >Go to Blog</a
            >
        </div>
    </div>
</div>

<div class="container">
    <h2> Popular Blog Posts : </h2>
    <div
        class="
            my-5
            row
            g-0
            border
            rounded
            overflow-hidden
            flex-md-row
            shadow-sm
            h-md-250
            position-relative
        "
    >
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">World</strong>
            <h3 class="mb-0">Featured post</h3>
            <div class="mb-1 text-muted">
                Nov 12
            </div>
            <p class="card-text mb-auto">
                This is a wider card with supporting text below as a natural
                lead-in to additional content.
            </p>
            <a href="#" class="stretched-link">Continue reading</a>
        </div>
    </div>
</div>

{% endblock content %}
