{% extends 'base.html' %} {% block title %} Home | iCoder {% endblock title %}
{% block home %} active {% endblock home %} {% block content %}
<div class="container my-4">
    <div class="p-5 mb-4 bg-secondary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welcome to iCoder!</h1>
            <p class="col-md-8 fs-4">
                Using a series of utilities, you can create this jumbotron, just
                like the one in previous versions of Bootstrap. Check out the
                examples below for how you can remix and restyle it to your
                liking.
            </p>
            <a
                class="btn btn-primary btn-lg"
                type="button"
                href="{% url 'BlogHome' %}"
                >Go to Blog</a
            >
        </div>
    </div>
</div>

<div class="container">
    <h2> Popular Blog Posts : </h2>
    
    {% for post in posts %}
        <div
            class="
                my-5
                row
                g-0
                border
                rounded
                overflow-hidden
                flex-md-row
                shadow-sm
                h-md-250
                position-relative
            "
        >
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">By {{ post.author|capfirst }} ({{ post.view_count }} views) </strong>
                <h3 class="mb-0"><a class="text-dark text-decoration-none" href="{% url 'BlogPost' post.slug %}">{{ post.title }} </a> </h3>
                <div class="mb-1 text-muted">
                    {{ post.timeStamp }}
                </div>
                <p class="card-text mb-auto">
                    <div class="preview">
                        {{ post.content|safe|truncatechars:500 }}
                    </div>
                </p>
                <div class="mt-3">
                    <a href="{% url 'BlogPost' post.slug %}" class="btn btn-info" role="button">Continue reading</a>
                </div> 
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}
{% block js %}
<script>
    const previews = document.getElementsByClassName('preview');
    Array.from(previews).forEach(node => node.innerHTML = node.innerText);
</script>
{% endblock js %}