{% extends 'base.html' %} 
{% load static %}
{% block title %} {{ post.title }} | iCoder {% endblock title %}
{% block content %}
{% load utils %}

    <style>
    
        .blog-post-title{
            font-weight: 600;
        }
    </style>

    <div class="container my-5">
        <article class="blog-post">
            <h1 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta"> {{ post.timeStamp }}  by <a href="#">{{ post.author }}</a> <span> {{ post.view_count }} views </span> </p>

            <p>
                {{ post.content|safe }}
            </p>
            <hr />
        </article>
    </div>
    <div class="container">
        <h2 class="my-3"> Comments ({{ comments.count }}) </h2>

        <div class="my-3">
            {% if request.user.is_authenticated %}
                <form method="POST" action="{% url 'PostComment' post.sno %}">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="comment" placeholder="Enter Comment here">
                    <input type="submit" class="btn btn-primary my-2" value="Submit">
                </form>
            {% else %}
                <p> Login to post a comment 🤷‍♂️ </p>
            {% endif %}
        </div>

            {% for comment in comments %}
                <div class="row my-5">
                    <div class="col-md-1">
                        <img class="w-100" src="{% static 'img/user.png' %}" alt="user">
                    </div>
                    <div class="col-md-11 d-flex flex-column justify-content-center">
                        <p class="mb-0"><strong> @{{ comment.user.username }} </strong> 
                        <span class="badge badge-light bg-dark">{{ comment.timeStamp|timesince }} ago</span>
                        </p>
                        <p class="mb-0"> 
                            {{ comment.comment }}
                        </p>

                        <div class="reply">
                            {% if request.user.is_authenticated %}
                                <!-- Reply collapse form -->
                                <div>
                                    <p>
                                        <button class="mt-2 btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ comment.sno }}" aria-expanded="false" aria-controls="collapse">
                                            Reply
                                        </button>
                                    </p>
                                    <div class="collapse" id="collapse{{ comment.sno }}">
                                        <div class="card card-body my-2">
                                            <form method="POST" action="{% url  'PostReply' post.sno comment.sno  %}">
                                                {% csrf_token %}
                                                <input type="text" class="form-control" name="reply" placeholder="Reply here">
                                                <input type="submit" class="btn btn-primary my-2" value="Submit">
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            {% else %}
                                <!-- Reply collapse form -->
                                <div>
                                    <p>
                                        <button class="btn btn-sm btn-primary mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ comment.sno }}" aria-expanded="false" aria-controls="collapse" disabled>
                                            Login to Reply
                                        </button>
                                    </p>
                                    <div class="collapse" id="collapse{{ comment.sno }}">
                                        <div class="card card-body my-2">
                                            <form method="POST" action="{% url  'PostReply' post.sno comment.sno  %}">
                                                {% csrf_token %}
                                                <input type="text" class="form-control" name="reply" placeholder="Reply here">
                                                <input type="submit" class="btn btn-primary my-2" value="Submit">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            
                            <div class="replies  my-2">
                                {% for reply in replyDict|get_val:comment.sno %}
                                    <div class="row my-2">
                                        <div class="col-md-1">
                                            <img class="w-75" src="{% static 'img/user.png' %}" alt="user">
                                        </div>
                                        <div class="col-md-11 ">
                                            <p class="mb-0"><strong> @{{ reply.user.username }} </strong> 
                                            <span class="badge badge-light bg-dark">{{ reply.timeStamp|timesince }} ago</span>
                                            </p>
                                            <p class="mb-0"> 
                                                {{ reply.comment }}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}

    </div>
{% endblock content %}
